@import "tailwindcss";

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400 700;
    src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-display: swap;
}

@theme {
    --color-navy-850: hsl(217, 28%, 15%);
    --color-navy-900: hsl(218, 28%, 13%);
    --color-navy-950: hsl(216, 53%, 9%);
    --color-navy-800: hsl(219, 30%, 18%);
    --color-teal-200: hsl(176, 68%, 64%);
    --color-cyan-500: hsl(198, 60%, 50%);
    --color-red-500: hsl(0, 100%, 63%);
    --color-white: hsl(0, 0%, 100%);

    --font-raleway: 'Raleway', serif; 
    --font-Open-Sans: 'Open Sans', sans-serif; 
}

body {
    @apply bg-navy-850 text-white font-Open-Sans;
}